<a href="https://colab.research.google.com/github/emesonfreire/Datascience_Python/blob/main/Aula_01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importar um pacote
import pandas as pd

Tabela_Filmes = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_filmes_de_maior_bilheteria')

Tabela_Filmes[0].head()

   Ranking   Ano  ... Bilheteria (US$) Ref.
0        1  2009  ...    2 847 246 203  [1]
1        2  2019  ...    2 797 501 328  [2]
2        3  1997  ...    2 201 647 264  [3]
3        4  2015  ...    2 068 223 624  [4]
4        5  2018  ...    2 048 359 754  [5]

[5 rows x 6 columns]

In [ ]:
# Fazendo uma API

# Importando a função
import requests

# Faznedo a conexão
Conexao = requests.get('https://api.adviceslip.com/advice')

# Verificando a resposta
Conexao.json()

{'slip': {'advice': 'Most things look better when you put them in a circle.',
  'id': 182}}

In [ ]:
# Identificando sites

# variavel com o site
site = 'https://pt-br.facebook.com/'

# Fazendo a conexão
Conexao = requests.get( site )

# Verificando o cookies
Conexao.cookies

<RequestsCookieJar[Cookie(version=0, name='fr', value='0Znm2N9g0FUcjErfq..Bh-bh7.NN.AAA.0.0.Bh-bh7.AWXPjYs16zQ', port=None, port_specified=False, domain='.facebook.com', domain_specified=True, domain_initial_dot=True, path='/', path_specified=True, secure=True, expires=1651531643, discard=False, comment=None, comment_url=None, rest={'httponly': None}, rfc2109=False), Cookie(version=0, name='sb', value='e7j5YZMw-Ilgsudf7IG1Pn1p', port=None, port_specified=False, domain='.facebook.com', domain_specified=True, domain_initial_dot=True, path='/', path_specified=True, secure=True, expires=1706827644, discard=False, comment=None, comment_url=None, rest={'httponly': None}, rfc2109=False)]>

In [ ]:
# Começar 
print('Ola mundo!')

aspas_simples = ''
aspas_duplas = ""

Ola mundo!

In [ ]:
# Operadores
# Soma
100001 + 2210392190312931

2210392190412932

In [ ]:
# Subtração
100 - 50

50

In [ ]:
# Multiplicação
200 * 14567890

2913578000

In [ ]:
# Divisão
10212121212 / 223232

45746.672573824544

In [ ]:
# Exponenciação
2 ** 10

1024

In [ ]:
# Resto da divisão
9 % 4

1

In [ ]:
# divisão do chão
9 // 4

2

In [ ]:
# Tipos de variaveis
Variavel = 'Olá Mundo!'
print( Variavel )

Variavel_02 = 10
print( Variavel_02 )

Var_Inteiro = int ( 450 )
print( Var_Inteiro )

Var_Flutuante = float ( 10.50 )
Var_Flutuante_02 = 10.50
print( Var_Flutuante )
print( Var_Flutuante_02 )

Var_String = 'Qualquer Palavra'
Var_String_2 = str( 'Qualquer Palavra' )
print( Var_String )
print( Var_String_2 )

Var_Boleano = True
Var_Boleano_02 = False
print( Var_Boleano )
print( Var_Boleano_02 )

# Tipos de Dados

# Listas
Lista_01 = [ 1, 2, 3, 4, 5 ]
Lista_02 = [ 'Odemir', 'Bootcamp', 'Hoje', 4, 5]
Lista_03 = [ 1, 2, 'Odemir', True, False ]
print( Lista_01 )
print( Lista_02 )
print( Lista_03 )

# Tuplas - Imutavel
Tupla_01 = ( 2, 3, 4, 5 )
Tupla_02 = ( 'Hoje', 'Noite', 4, True )
print( Tupla_01 )
print( Tupla_02 )

# Dicionarios
Dicionario = {
    'Index':'Informação',
    'Nome':'Odemir Depieri',
    'Nascimento': '1992',
    'Salario': 1200,
    'Acesso_ao_Sistema': True,
    'Lista' : [1,2,3,4,5,6] }
print( Dicionario )

Olá Mundo!
10
450
10.5
10.5
Qualquer Palavra
Qualquer Palavra
True
False
[1, 2, 3, 4, 5]
['Odemir', 'Bootcamp', 'Hoje', 4, 5]
[1, 2, 'Odemir', True, False]
(2, 3, 4, 5)
('Hoje', 'Noite', 4, True)
{'Index': 'Informação', 'Nome': 'Odemir Depieri', 'Nascimento': '1992', 'Salario': 1200, 'Acesso_ao_Sistema': True, 'Lista': [1, 2, 3, 4, 5, 6]}

In [ ]:
# Pegadinha
str( 10 ) + str( 10 )

'1010'

In [ ]:
# Nomeação variavel
Odemir, Lucas, Marcelo = 1, 2, 3

print( Odemir, Lucas, Marcelo )

1 2 3

In [ ]:
# Nomeação variavel
Odemir = Lucas = Marcelo = 1 + 1

print( Odemir, Lucas, Marcelo )

2 2 2

In [ ]:
# Nomeação variavel

# Criar uma lista
Carros = [ 'VW', 'GM', 'Ford', 'FIAT' ]

# Nomeando elas 
Marca_01, Marca_02, Marca_03, Marca_04 = Carros

print( Marca_01, Marca_02, Marca_03, Marca_04 )

VW GM Ford FIAT

In [ ]:
# Codigo Clean
Nome_Completo = 'Zulando'
Soma_Faturamento = float( 1200.10 )

In [ ]:
# Combinação (concatenar)
Nome = 'Odemir'
Sobrenome = 'Depieri'
Nome_Completo = Nome + ' ' + Sobrenome

print( Nome_Completo )

Odemir Depieri

In [ ]:
# Operações com variaveis
Dolar = 5.23
Imposto = 0.01

Valor_Conversao = Dolar - ( Dolar * Imposto )

print( Valor_Conversao )

5.177700000000001

In [ ]:
# Verificar Tipos de Dados

A = 1
B = 2.99
C = 'Ola!'
D = [1, 2, 3]
E = ( 1, 2, 3)
F = {'CPF': 123}
G = False

print( type(A) )
print( type(B) )
print( type(C) )
print( type(D) )
print( type(E) )
print( type(F) )
print( type(G) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [ ]:
# Comando Round

Valor = 12.9234567890

print( round( Valor, 4) )
print( round( Valor, 2) )
print( round( Valor, 0) )

12.9235
12.92
13.0

In [ ]:
# Comando input

Nome = input('Qual seu nome: ')
print(Nome)

Qual seu nome: Alexandre
Alexandre

In [ ]:
# Operadores de Comparação

Igual = '='
Diferente = '!='
Maior = '>'
Maior_Igual = '>='
Menor = '<'
Menor = '<='

print( 8 > 7 )
print( 8 < 7 )
print( 8 == 8 )
print( 8 != 8 )
print( 8 >= 8 )

True
False
True
False
True

In [ ]:
# Operadores de Comparação # 2

E = 'and'
Ou = 'or'
Negacao = 'not'
Dentro = 'in'

print( 10 > 2 and 2 < 10 )
print( 2 > 2 or 2 == 2 )
print( 8 not in [2, 4, 8] )
print( 8 in [2, 4, 8] )

True
True
False
True

In [ ]:
# Manipulação de Lista
Lista_Vazia = []
print( Lista_Vazia )
print( type(Lista_Vazia) )

# Append
Lista_Vazia.append( 1 )
Lista_Vazia.append( 'Nome' )
Lista_Vazia.append( True )
print( Lista_Vazia )

# Comando LEN
print( len( Lista_Vazia ) )

# Acessando posições
print( Lista_Vazia[0] )
print( Lista_Vazia[1] )
print( Lista_Vazia[-1] )
print( Lista_Vazia[0:2] )

# Excluir
del Lista_Vazia[-1]
print( Lista_Vazia )

# Limpando lista
print( Lista_Vazia.clear() )

[]
<class 'list'>
[1, 'Nome', True]
3
1
Nome
True
[1, 'Nome']
[1, 'Nome']
None

In [ ]:
# Frameworks

# Datetime para data
from datetime import datetime

Data = '01/02/22'
Conversao = datetime.strptime(Data, '%d/%m/%y') 

print( Conversao )
print( type(Conversao) )

2022-02-01 00:00:00
<class 'datetime.datetime'>

In [ ]:
# Exercicos de fundamentos

# Calculo do IMC
IMC = 65 / ( 1.70 * 1.70 )

print( 'Meu IMC é:', round(IMC,2)  )

print( f'Meu IMC é:{ round(IMC,2) }')

print( 'Meu IMC é: {}'.format( round(IMC, 2) ))

Meu IMC é: 22.49
Meu IMC é:22.49
Meu IMC é: 22.49

In [ ]:
# Exercicios 
# Calcular Juros Simples

Valor_01 = float( input('Qual a Taxa de Juros: ') )
Valor_02 = float( input('Qual o investimnento: ') )

Ganho = Valor_02 + ( Valor_02 * ( Valor_01 / 100 ) )

print('Eu investi:', Valor_02 )
print('Eu acumulei:', Ganho )

Qual a Taxa de Juros: 0.7
Qual o investimnento: 8000
Eu investi: 8000.0
Eu acumulei: 8056.0

In [ ]:
# Exercicios
# Ajuste de DAta

# Inputar
Dia = int( input('Qual o dia de hoje: ') )
Mes = int( input('Qual o mes de hoje: ') )
Ano = int( input('Qual o Ano de hoje: ') )

# Consolidar
Data = str(Dia) + '/' + str(Mes) + '/' + str(Ano)

Conversao = datetime.strptime( Data, '%d/%m/%y' )

print(f'Data foi consolidade { Conversao }')

Qual o dia de hoje: 01
Qual o mes de hoje: 02
Qual o Ano de hoje: 22
Data foi consolidade 2022-02-01 00:00:00

In [ ]:
# Calcular o metro quadrado

Altura = float( input('Qual a altura: '))
Largura = float( input('Qual a largura: '))

Quadrado = Altura * Largura

print('O metro quadrado é: ', round( Quadrado,2 ) )

Qual a altura: 8.0
Qual a largura: 6.0
O metro quadrado é:  48.0

In [ ]:
# Verificação

Idade = int( input('Qual sua idade: ') )
Verificacao = Idade >= 18

print('Verificação: ', Verificacao )

Qual sua idade: 15
Verificação:  False

In [ ]:
# Valor da Hipotenusa

# formula = a² + b² = c²
Cateto_Oposto = float( input('Qual o valor do cateto oposto: '))
Cateto_Adjacente = float( input('Qual o valor do cateto Adjacente: '))

Hipotenusa = ( Cateto_Oposto ** 2 + Cateto_Adjacente ** 2) ** (1/2)

print('Valor da Hipotenusa é:', Hipotenusa )

Qual o valor do cateto oposto: 9.2
Qual o valor do cateto Adjacente: 12.5
Valor da Hipotenusa é: 15.52063143045411

In [ ]:
# Sistema de RH
# Folha de Pagamento

Salario = float( input('Qual seu salário: '))

# Variaveis de desconto
INSS = 0.11
Vale_Ref = 0.04
Vale_Trans = 0.06
IR = 0.08

# Organizar esses descontos
Dicionario = {
    'INSS' : Salario * INSS,
    'Vale Ref' : Salario * Vale_Ref,
    'Vale Trans' : Salario * Vale_Trans,
    'IR' : Salario * IR
}

# Calcular o Debito
Debito = Dicionario['INSS'] + Dicionario['Vale Ref'] + Dicionario['Vale Trans'] + Dicionario['IR']

# Calculdo do Liquido
Liquido = Salario - Debito

print('Meu salario é:', Salario, '\n' )
print('Seguintes debitos:', Dicionario, '\n' )
print('Foi debitado: ', Debito, '\n' )
print('Fique feliz com essa quantia: ', Liquido )

Qual seu salário: 10000
Meu salario é: 10000.0

Seguintes debitos: {'INSS': 1100.0, 'Vale Ref': 400.0, 'Vale Trans': 600.0, 'IR': 800.0}

Foi debitado:  2900.0

Fique feliz com essa quantia:  7100.0

In [ ]:
# Criando novos dados no dicionario
Dicionario['Valor Debitado'] = Debito
Dicionario['Valor Liquido'] = Liquido
Dicionario['Salario'] = Salario

Dicionario

{'INSS': 1100.0,
 'IR': 800.0,
 'Salario': 10000.0,
 'Vale Ref': 400.0,
 'Vale Trans': 600.0,
 'Valor Debitado': 2900.0,
 'Valor Liquido': 7100.0}

In [ ]:
# Função para criar um DAta Frame
from pandas import DataFrame

# PAssando o DF em um dicionario
Base_Dados = DataFrame( Dicionario, index=[0] )

# Verificando
Base_Dados

     INSS  Vale Ref  Vale Trans     IR  Valor Debitado  Valor Liquido  Salario
0  1100.0     400.0       600.0  800.0          2900.0         7100.0  10000.0

In [ ]:
# Exportando
Base_Dados.to_excel('Teste.xlsx')