# variáveis e operadores

In [ ]:
# atribuindo o valor 1 a variável var_teste
var_teste = 1

In [ ]:
#impimindo o valor da variável
var_teste

In [ ]:
#imprimindo o valor da variável
print(var_teste)

In [ ]:
#não podemos usar uma variável que não foi definida. Veja a mensagen de erro
my_var

In [ ]:
var_teste = 2

In [ ]:
var_teste

In [ ]:
type(var_teste)

In [ ]:
var_teste = 9.5

## Declaração multipla

In [ ]:
pessoa1, pessoa2, pessoa3 = "maria", "jose", "tobias"

In [ ]:
pessoa1

In [ ]:
pessoa2

In [ ]:
pessoa3

In [ ]:
fruta1 = fruta2=fruta2=fruta3= "laranja"

In [ ]:
fruta1

In [ ]:
fruta2

In [ ]:
fruta3

## Pode-se usar letras, números e underline (mas não se pode começar com números)

In [ ]:
x1 = 50

In [ ]:
x1

In [ ]:
#mensagem de erro, pois o python não permite nomes de variáveis que iniciem com números 
1x = 50

## Não se pode utilizar palavras reservadas como nome de variiável

## FALSE
## CLASS
## FINALLY
## IS
## BREAK
## EXCEPT
## IN
## RAISE

## vARIAVEIS ATRIBUIDAS A OUTRAS VARIÁVEIS E ORDEM DOS OPERADORES.

In [ ]:
largura = 2

In [ ]:
altura = 4

In [ ]:
area = largura * altura

In [ ]:
area

In [ ]:
perimetro= 2 * largura + 2 *altura

In [ ]:
perimetro

In [ ]:
# a ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2) * altura

In [ ]:
perimetro

## Operações com variáveis

In [ ]:
idade1 = 25

In [ ]:
idade2 = 35

In [ ]:
idade1+idade2

In [ ]:
idade2-idade1

In [ ]:
idade2*idade1

In [ ]:
idade2/idade1

In [ ]:
idade2 % idade1

## Concatenação de variáveis

In [2]:
nome = "Steve"

In [3]:
sobrenome = "jobs"

In [4]:
fullname = nome +" "+sobrenome

In [5]:
fullname

'Steve jobs'